<div class="d-flex">

  <!-- SIDERBAR -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- END SIDEBAR -->

  <div class="container">

    <div class="row p-3">
      <div class="col">
        <h5>Buscar :</h5>
        <hr />
        <input type="text" class="form-control" placeholder="Buscar gifs...">
        <hr />

      </div>
    </div>
    <div class="row">
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, mollitia ducimus? Dignissimos excepturi hic
        placeat, reprehenderit ipsam amet recusandae praesentium laudantium error aspernatur aut laboriosam. Dolorum
        unde vel ut nisi.
      </div>
    </div>

  </div>
</div>